.site-body {
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.todo-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 10px;
}

.todo-input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  flex: 1;
}

.buttons {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #f2f2f2;
  cursor: pointer;
}

.green {
  background-color: rgb(38, 228, 92);
}

.blue {
  background-color: rgba(25, 163, 228, 0.653);
}

.red {
  background-color: rgb(240, 112, 112);
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1269ab67;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  gap: 5rem;
}

.checkbox {
  width: 18px;
  height: 18px;
  accent-color: #4f46e5;
}
